main{
  max-width: 900px;
}

header#portfolio-header{
  background: url(images/wing-span.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

header h1{
  font-weight: bold;
  color: hsla(215, 85%, 75%, .80);
}

header p#slogan{
  font-weight: lighter;
  color: hsla(350, 95%, 65%, .60);
  font-size: 1.6rem;
}

.project-description{
  padding-left:0;
}

.project img{
  width=100%;
}

footer#connect{
  bottom: 0;
  padding:0.5rem;
  position:fixed;
  width:100%;
  z-index:1;
}

#footer-links{
  margin: auto;
  font-size:2rem;
}

@media screen and (max-width: 1024px) {
   header#portfolio-header {
     display: flex;
   }
 }
